<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>black_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,126},{27,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,39}</string>
			</dict>
			<key>black_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,126},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>black_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,164},{25,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,39}</string>
			</dict>
			<key>black_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,126},{27,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,40}</string>
			</dict>
			<key>black_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,153},{26,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,39}</string>
			</dict>
			<key>black_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,179},{23,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,39}</string>
			</dict>
			<key>black_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,207},{24,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,39}</string>
			</dict>
			<key>black_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,166},{25,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,39}</string>
			</dict>
			<key>black_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,198},{23,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,38}</string>
			</dict>
			<key>black_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,202},{23,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,39}</string>
			</dict>
			<key>black_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,221},{22,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,38}</string>
			</dict>
			<key>black_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,191},{24,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,39}</string>
			</dict>
			<key>black_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,156},{24,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,39}</string>
			</dict>
			<key>black_joker.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,82},{18,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,130}</string>
			</dict>
			<key>card_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{126,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,163}</string>
			</dict>
			<key>card_middle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,126},{56,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,75}</string>
			</dict>
			<key>card_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,126},{40,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,57}</string>
			</dict>
			<key>red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,153},{26,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,39}</string>
			</dict>
			<key>red_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,126},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>red_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,182},{25,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,39}</string>
			</dict>
			<key>red_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,126},{27,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,40}</string>
			</dict>
			<key>red_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,164},{26,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,39}</string>
			</dict>
			<key>red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,203},{23,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,39}</string>
			</dict>
			<key>red_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,165},{24,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,39}</string>
			</dict>
			<key>red_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,182},{25,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,39}</string>
			</dict>
			<key>red_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,215},{23,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,38}</string>
			</dict>
			<key>red_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,190},{23,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,39}</string>
			</dict>
			<key>red_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,231},{22,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,38}</string>
			</dict>
			<key>red_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,179},{24,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,39}</string>
			</dict>
			<key>red_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,189},{24,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,39}</string>
			</dict>
			<key>red_joker.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,82},{18,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,130}</string>
			</dict>
			<key>balck_joker_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,0},{78,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,141}</string>
			</dict>
			<key>car_back_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,0},{126,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,163}</string>
			</dict>
			<key>car_back_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,0},{82,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,34}</string>
			</dict>
			<key>fangkuai_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,253},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>fangkuai_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,166},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>heitao_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,213},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>heitao_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,182},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>hongtao_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,259},{26,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>hongtao_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,236},{17,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,15}</string>
			</dict>
			<key>meihua_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,238},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>meihua_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,238},{16,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,15}</string>
			</dict>
			<key>red_joker_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,78},{78,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,141}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>card.png</string>
			<key>realTextureFileName</key>
			<string>card.png</string>
			<key>size</key>
			<string>{503,284}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>503</integer>
			<key>height</key>
			<integer>284</integer>
		</dict>
	</dict>
</plist>