<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\cocos\doudizhu\ddz\simulator\win32\ddz.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>D:\cocos\doudizhu\ddz\simulator\win32\src</StartWorkingDirectory>
  </propertyGroup>
</Project>