<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btnfont_bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,368},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>btnfont_bu.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,279},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,49}</string>
			</dict>
			<key>btnfont_chu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,373},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>btnfont_chu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,418},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>btnfont_chu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,329},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>btnfont_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,229},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>btnfont_jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,279},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>btnfont_jiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,329},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>btnfont_ming.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,375},{46,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,48}</string>
			</dict>
			<key>btnfont_pai.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,229},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>btnfont_pai_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,229},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>btnfont_pai_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,229},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>btnfont_qiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,279},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>btnfont_shi.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,328},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,49}</string>
			</dict>
			<key>btnfont_ti.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,279},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>btnfont_zhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,328},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,49}</string>
			</dict>
			<key>font_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,460},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>font_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,464},{19,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,32}</string>
			</dict>
			<key>font_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,539},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,32}</string>
			</dict>
			<key>font_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,485},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>font_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,406},{27,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,32}</string>
			</dict>
			<key>font_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,464},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>font_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,482},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>font_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,475},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>font_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,500},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>font_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,489},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>font_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,406},{31,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,38}</string>
			</dict>
			<key>font_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,381},{25,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,38}</string>
			</dict>
			<key>font_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,343},{30,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,38}</string>
			</dict>
			<key>font_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,373},{30,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,38}</string>
			</dict>
			<key>font_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,368},{33,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,38}</string>
			</dict>
			<key>font_2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,403},{30,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,38}</string>
			</dict>
			<key>font_2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,229},{31,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,38}</string>
			</dict>
			<key>font_2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,444},{30,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,38}</string>
			</dict>
			<key>font_2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,267},{31,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,38}</string>
			</dict>
			<key>font_2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,305},{31,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,38}</string>
			</dict>
			<key>font_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,503},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>font_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,475},{19,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,32}</string>
			</dict>
			<key>font_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,557},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,32}</string>
			</dict>
			<key>font_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,507},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>font_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,433},{27,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,32}</string>
			</dict>
			<key>font_3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,507},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>font_3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,514},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>font_3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,525},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>font_3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,532},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>font_3_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,539},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>ftn_bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,377},{43,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,47}</string>
			</dict>
			<key>ftn_bu.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,419},{42,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,47}</string>
			</dict>
			<key>ftn_chao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,421},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>
			<key>ftn_chu.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,463},{42,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,47}</string>
			</dict>
			<key>ftn_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,377},{44,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,47}</string>
			</dict>
			<key>ftn_ji.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,421},{43,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,46}</string>
			</dict>
			<key>ftn_jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,433},{42,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,47}</string>
			</dict>
			<key>ftn_jiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,420},{43,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,47}</string>
			</dict>
			<key>ftn_qiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,420},{44,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,47}</string>
			</dict>
			<key>ftn_zhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,375},{45,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>ftn_times.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,461},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>btnfont_start_1 .png</key>
			<dict>
				<key>frame</key>
				<string>{{443,424},{178,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,54}</string>
			</dict>
			<key>btnfont_start_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,238},{186,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,54}</string>
			</dict>
			<key>ftn_famerlose.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,138},{233,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,91}</string>
			</dict>
			<key>ftn_famerwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,0},{238,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,91}</string>
			</dict>
			<key>ftn_landhoderwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,138},{235,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,85}</string>
			</dict>
			<key>ftn_landhodlerlose.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,138},{230,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,85}</string>
			</dict>
			<key>ftn_liandui.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{207,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,138}</string>
			</dict>
			<key>ftn_shunzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,0},{207,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,138}</string>
			</dict>
			<key>ftn_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,238},{329,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{329,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{505,602}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>505</integer>
			<key>height</key>
			<integer>602</integer>
		</dict>
	</dict>
</plist>